<h1>Bienvenido a la clinica online</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Registrarse</h5> 
      <p class="card-text">Registrese en nuestro sistema para acceder a turnos o brindar servicios medicos</p>
      <a href="/registro" class="card-link">Aqui</a> 
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Ingreso</h5> 
      <p class="card-text">Si ya tiene cuenta ingrese para solicitar turnos.</p>
      <a href="/login" class="card-link">Aqui</a> 
    </div>
  </div>