<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Registro</h2>
      <br>
      <label>¿Que tipo de usuario esta por registrar?</label>
      
      
      <div>
      <button class="btn sprite"  (click)='capturar("especialista")'>
        <img src="./../../../../assets/registro-opciones-usuarios/especialista.png" class="img-redonda" width="150px">  
      </button>
      <button class="btn sprite"  (click)='capturar("paciente")'>
        <img src="./../../../../assets/registro-opciones-usuarios/paciente.png" class="img-redonda" width="150px">  
      </button>
      <button *ngIf="pefil_actual=='administrador'" class="btn sprite"  (click)='capturar("admin")'>
        <img src="./../../../../assets/registro-opciones-usuarios/administrador-sistemas.jpg" class="img-redonda" width="150px">  
      </button>
    </div>
 
  
      <br>
      <div *ngIf='paciente!= null || especialista != null || administrador != null'>
  
        <div *ngIf='paciente && paciente!= null'>
          <app-registro-paciente></app-registro-paciente>
        </div>
  
  
        <div *ngIf='especialista && especialista!=null'> 
          <app-registro-especialista></app-registro-especialista> 
        </div>
  
  
        <div *ngIf='administrador && administrador!=null'>
          <app-registro-administrador></app-registro-administrador>
        </div>
   
     </div>
    </div>
  </div>