<div class="row animate__animated animate__bounceInRight">
    <div class="col-md-8 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row" *ngIf="usuario.perfil == 'especialista'">
                    <h1>Mis pacientes</h1>
                    <div *ngFor="let atencion of listaHistoriaClinica "> 
                         
                   <hr>
                   <div class="col-sm-6">
                   <div class="card" style="width:15rem;">
                    <img  src="{{atencion.paciente.archivo1}}" class="card-img-top" width="25px">
                    <div class="card-body">
                      <h5 class="card-title">{{atencion.paciente.apellido }}, {{atencion.paciente.nombre }}</h5>
                      <p class="card-text">{{atencion.HC | atencion}}</p>
                      <button class="btn btn-info" *ngIf="atencion.mostrar" (click)="verHistoria(atencion.HC)">Ver Historia clinica</button>
                    </div>
                  </div>
                    </div></div>
                </div> 
            </div> 
        </div>
    </div>
</div>