<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <h3>Especialidades</h3>
                <div> 
                    <div class="form-check">
                        <div class="btn-group " role="group" aria-label="Basic checkbox toggle button group">
                            <div *ngFor="let espe of especialidadesLista">
                                <button class="btn btn-lg btn-primary" (click)="especialidadCapturar(espe.nombre)">
                                    <img src="{{espe.imagen}}" width="50px">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <h3>Especialistas</h3>
                <div *ngIf="especialidadElegida != '' ">
                    <div class="form-check" *ngFor="let especialista of listadoUsuariosEspecialistasCalificados ">

                        <button class="btn btn-lg btn-primary" (click)="especialistaCapturar(especialista.uid)">
                            <label for="">{{especialista.nombre}}</label><br>
                            <img src="{{especialista.archivo}}" width="50px">
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-success table-striped">
    <tbody>
        <tr>
            <td ><button class="btn btn-success">21/06 9:30</button> </td>
            <td><button class="btn btn-success">21/06 10:00</button> </td>
            <td><button class="btn btn-success">21/06 10:30</button> </td>
            <td><button class="btn btn-success">21/06 11:00</button> </td>
            <td><button class="btn btn-success">21/06 11:30</button> </td>
        </tr> 
    </tbody>
</table>