<div class="container overflow-hidden">
    <div class="row gx-5">
         
      <div class="col">
       <div class="p-3 border bg-light">
          <h1>Crear usuario</h1>
          <a href="registro"><img src="./../../../../assets/registroAdministrador.png" width="305px"></a>
       </div>
      </div>


      <div class="col">
        <div class="p-3 border bg-light">
            <h1>Panel de usuarios</h1>
            <a href="administracion/panelespecialistas"><img src="./../../../../assets/panelUsuarios.png"width="340px" > </a>
        </div>
      </div>
    </div>
  </div>