/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/economia-hospitales-pandemia-gr.jpg");
    background-color: #cccccc;
    background-repeat:  repeat;
   }